<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.az.notepad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:theme="@style/AppNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".first"></activity>
         <activity android:name=".second"></activity>
          <activity android:name=".third"></activity>
           <activity android:name=".four"></activity>
           <activity android:name=".secondAddNote" android:theme="@style/AppNoBar"></activity>
           <activity android:name=".secondShowDetail" android:theme="@style/AppNoBar"></activity>
           <activity android:name=".firstLoverWish" android:theme="@style/AppNoBar"></activity>
           <activity android:name=".firstLoverWishAdd" android:theme="@style/AppWindow"></activity>
           <activity android:name=".firstLoverWishLongClick" android:theme="@style/AppDialog"></activity>
    </application>

</manifest>
